*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
/*  Navbar */
#navbar{
    display: flex;
    background-color: rgba(0,0, 0, 0.6);
    color: white;
    justify-content: center;
}
#navbar .navbar-container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 20px 0;
}
#navbar .navbar-container .logo{
    height: 40px;
    width: auto;
}
#navbar .navbar-container ul{
    display: flex;
    font-weight: bold;
    list-style: none;
}
#navbar .navbar-container ul li{
    padding: 0 20px;
}
#navbar .navbar-container ul li:nth-child(3){
    border-right: 1px solid white;
}